In [1]:
import pandas as pd
import datetime
import calendar

data_inicial = datetime.date(2020, 1, 1)
data_final = datetime.date(2022, 12, 31)
dias_calendario = pd.date_range(start=data_inicial, end=data_final, freq='D')

calendario_df = pd.DataFrame(dias_calendario, columns=['Data'])

calendario_df['dia'] = calendario_df['Data'].dt.day
calendario_df['mes'] = calendario_df['Data'].dt.month
calendario_df['mes_nome'] = calendario_df['Data'].dt.strftime('%b')
calendario_df['ano'] = calendario_df['Data'].dt.year
calendario_df['semana_do_ano'] = calendario_df['Data'].dt.isocalendar().week


calendario_df['ano_mes'] = calendario_df['Data'].dt.strftime('%Y%m')
calendario_df['ano_semana'] = calendario_df['Data'].dt.strftime('%Y') + calendario_df['semana_do_ano'].astype(str).str.zfill(2)
calendario_df['mes_ano'] = calendario_df['Data'].dt.strftime('%b/%Y')

calendario_df['mes_ano'] = calendario_df['mes_ano'].str.lower().replace(calendar.month_abbr[0].lower(), calendar.month_abbr[12].lower())
calendario_df.to_csv('dCalendar.csv',index=False)


display(calendario_df)

,Data,dia,mes,mes_nome,ano,semana_do_ano,ano_mes,ano_semana,mes_ano
0,2020-01-01,1,1,Jan,2020,1,202001,202001,jan/2020
1,2020-01-02,2,1,Jan,2020,1,202001,202001,jan/2020
2,2020-01-03,3,1,Jan,2020,1,202001,202001,jan/2020
3,2020-01-04,4,1,Jan,2020,1,202001,202001,jan/2020
4,2020-01-05,5,1,Jan,2020,1,202001,202001,jan/2020
...,...,...,...,...,...,...,...,...,...
1091,2022-12-27,27,12,Dec,2022,52,202212,202252,dec/2022
1092,2022-12-28,28,12,Dec,2022,52,202212,202252,dec/2022
1093,2022-12-29,29,12,Dec,2022,52,202212,202252,dec/2022
1094,2022-12-30,30,12,Dec,2022,52,202212,202252,dec/2022
1095,2022-12-31,31,12,Dec,2022,52,202212,202252,dec/2022